@using Cyriller;
@using Cyriller.Web.Models;
@{
    string text = ViewBag.Text;
    string h;

    if (text == null)
    {
        h = ViewBag.Title = "Склонение прилагательного по падежам";
    }
    else
    {
        ViewBag.Title = string.Format("Склонение прилагательного \"{0}\" по падежам", text);
        h = string.Format("Склонение прилагательного <strong>{0}</strong> по падежам", text);
    }
}
<h1>@Html.Raw(h)</h1>
@if (ViewBag.Errors != null)
{
    foreach (string error in ViewBag.Errors)
    {
        <div class="alert alert-danger">
            @Html.Raw(error)
        </div>
    }
}
<fieldset>
    <legend></legend>
    <form method="get" class="decline-form form-horizontal">
        <div class="col-lg-10">
            <input type="text" name="w" class="form-control" value="@text" required="required" placeholder="Введите прилагательное в любом падеже" />
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" type="submit">Склонять</button>
        </div>
    </form>
</fieldset>
@if (ViewBag.Results != null)
{
    foreach (CyrAdjectiveDeclineResult result in ViewBag.Results)
    {
        string[] values = new string[] { result.FoundCaseStringRu, result.FoundNumberStringRu, result.FoundGenderStringRu };
        string[] css = new string[] { "case", "number", "gender" };

        <h2 class="h-word">
            <strong>@result.OriginalWord</strong>,

            @for (int i = 0; i < values.Length; i++)
            {
                if (string.IsNullOrEmpty(values[i]))
                {
                    continue;
                }

                bool isLast = !values.Skip(i + 1).Any(x => !string.IsNullOrEmpty(x));

                <span class="@css[i]">
                    @if (isLast)
                    {
                        <em>@values[i]</em>
                    }
                    else
                    {
                        <em>@values[i]</em>@:,
                    }
                </span>
            }
        </h2>
        if (!result.ExactMatch)
        {
            <div class="alert alert-danger">
                Слова <strong>@result.OriginalWord</strong> нет в словаре, но есть слово <strong>@result.FoundWord</strong>
            </div>
        }
        <table class="table table-bordered table-cases">
            <thead>
                <tr>
                    <th class="td-case">Падеж</th>
                    <th class="td-value">Единственное число</th>
                    <th class="td-value">Множественное число</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CyrDeclineCase dc in ViewBag.Cases)
                {
                    <tr>
                        <td>
                            @dc.NameRu, <span class="label label-default">@dc.Description</span>
                        </td>
                        <td>
                            @result.Singular[dc.Index]
                        </td>
                        <td>
                            @result.Plural[dc.Index]
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p class="p p-examples">
        Введите прилагательное, в любом роде, числе и падеже, для склонения по падежам.<br />Например:
        <a href="javascript:">качественный</a>,
        <a href="javascript:">красивая</a>,
        <a href="javascript:">большой</a>,
        <a href="javascript:">яркий</a>,
        <a href="javascript:">зеленое</a>.
    </p>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".p-examples a").click(function () {
                $(".decline-form input").val($(this).text());
            });
        });
    </script>
}