@using Cyriller;
@{
    string text = ViewBag.Text;
    string h;

    if (text == null)
    {
        h = ViewBag.Title = "Склонение существительного по падежам";
    }
    else
    {
        ViewBag.Title = string.Format("Склонение существительного \"{0}\" по падежам", text);
        h = string.Format("Склонение существительного <strong>{0}</strong> по падежам", text);
    }
}
<h1>@Html.Raw(h)</h1>
@if (ViewBag.Errors != null)
{
    foreach (string error in ViewBag.Errors)
    {
        <div class="alert alert-danger">
            @Html.Raw(error)
        </div>
    }
}
<fieldset>
    <legend></legend>
    <form method="get" class="decline-form form-horizontal">
        <div class="col-lg-10">
            <input type="text" name="w" class="form-control" value="@text" required="required" placeholder="Введите существительное в именительном падеже" />
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" type="submit">Склонять</button>
        </div>
    </form>
</fieldset>
@if (ViewBag.Words != null)
{
    for (int i = 0; i < ViewBag.Words.Count; i++)
    {
        CyrNoun cyr = ViewBag.Words[i];
        CyrResult singular = ViewBag.Singulars[i];
        CyrResult plural = ViewBag.Plurals[i];
        <h2 class="h-word">
            <strong>@cyr.Name</strong>,
            <span class="gender">
                @switch (cyr.Gender)
                {
                    case Cyriller.Model.GendersEnum.Feminine: <em>женский</em>; break;
                    case Cyriller.Model.GendersEnum.Neuter: <em>средний</em>; break;
                    default:  <em>мужской</em>; break;
                }
                род,
            </span>
            <span class="animate">
                <em>@(cyr.IsAnimated ? "одушевленное" : "неодушевленное")</em>@(cyr.WordType != 0 ? "," : string.Empty)
            </span>
            @if (cyr.WordType != 0)
            {
                <span class="type">
                    @switch (cyr.WordType)
                    {
                        case Cyriller.Model.WordTypesEnum.Abbreviation: <em>аббревиатура</em>; break;
                        case Cyriller.Model.WordTypesEnum.Name: <em>имя</em>; break;
                        case Cyriller.Model.WordTypesEnum.Surname: <em>фамилия</em>; break;
                        case Cyriller.Model.WordTypesEnum.Patronymic: <em>отчество</em>; break;
                        case Cyriller.Model.WordTypesEnum.Toponym: <em>топоним</em>; break;
                        case Cyriller.Model.WordTypesEnum.Organization: <em>организация</em>; break;
                        default: <em>без типа</em>; break;
                    }
                </span>
            }
        </h2>
        if (!cyr.ExactMatch)
        {
            <div class="alert alert-danger">
                Слова <strong>@cyr.Name</strong> нет в словаре, но есть слово <strong>@cyr.CollectionName</strong>
            </div>
        }
        <table class="table table-bordered table-cases">
            <thead>
                <tr>
                    <th class="td-case">Падеж</th>
                    <th class="td-value">Единственное число</th>
                    <th class="td-value">Множественное число</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CyrDeclineCase dc in ViewBag.Cases)
                {
                    <tr>
                        <td>
                            @dc.NameRu, <span class="label label-default">@dc.Description</span>
                        </td>
                        <td>
                            @singular[dc.Index]
                        </td>
                        <td>
                            @plural[dc.Index]
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p class="p p-examples">
        Введите слово или полное ФИО для склонения по падежам.<br />Например:
        <a href="javascript:">компьютер</a>,
        <a href="javascript:">пиво</a>,
        <a href="javascript:">кофе</a>,
        <a href="javascript:">Иванов Иван Иванович</a>,
        <a href="javascript:">Никитина Инна Николаевна</a>.
    </p>
    <p class="p">
        Если вам нужно просклонять сразу много слов, вы можете воспользоваться этой <a href="@Url.Content("~/DeclineMany")">формой</a> и скачать результат склонения в .csv формате.
    </p>
}
@section scripts
{
    <script type="text/javascript">
    $(function () {
        $(".p-examples a").click(function () {
            $(".decline-form input").val($(this).text());
        });
    });
    </script>
}