@using Cyriller;
@{
    string text = ViewBag.Text;
    string h;

    if (text == null)
    {
        h = ViewBag.Title = "Склонение фразы по падежам";
    }
    else
    {
        ViewBag.Title = string.Format("Склонение фразы \"{0}\" по падежам", text);
        h = string.Format("Склонение фразы <strong>{0}</strong> по падежам", text);
    }
}
<h1>@Html.Raw(h)</h1>
@if (ViewBag.Errors != null)
{
    foreach (string error in ViewBag.Errors)
    {
        <div class="alert alert-danger">
            @Html.Raw(error)
        </div>
    }
}
<fieldset>
    <legend></legend>
    <form method="get" class="decline-form form-horizontal">
        <div class="col-lg-10">
            <input type="text" name="w" class="form-control" value="@text" required="required" placeholder="Введите фразу в именительном падеже" />
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" type="submit">Склонять</button>
        </div>
    </form>
</fieldset>
@if (ViewBag.Singular != null && ViewBag.Plural != null)
{
    CyrResult singular = ViewBag.Singular;
    CyrResult plural = ViewBag.Plural;

    <table class="table table-bordered table-cases">
        <thead>
            <tr>
                <th class="td-case">Падеж</th>
                <th class="td-value">Единственное число</th>
                <th class="td-value">Множественное число</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CyrDeclineCase dc in ViewBag.Cases)
            {
                <tr>
                    <td>
                        @dc.NameRu, <span class="label label-default">@dc.Description</span>
                    </td>
                    <td>
                        @singular[dc.Index]
                    </td>
                    <td>
                        @plural[dc.Index]
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="p p-examples">
        Введите слово или словосочетание из существительных и прилагательных.<br />Например:
        <a href="javascript:">чистое большое окно</a>,
        <a href="javascript:">красивая девушка</a>,
        <a href="javascript:">мощный компьютер</a>,
        <a href="javascript:">быстрый мотоцикл</a>,
        <a href="javascript:">высокая скорость</a>.
    </p>
}
@section scripts
{
    <script type="text/javascript">
    $(function () {
        $(".p-examples a").click(function () {
            $(".decline-form input").val($(this).text());
        });
    });
    </script>
}