@using Cyriller;
@{
    string text = ViewBag.Text;
    string h;

    if (text == null)
    {
        h = ViewBag.Title = "Склонение слова по падежам";
    }
    else
    {
        ViewBag.Title = string.Format("Склонение слова \"{0}\" по падежам", text);
        h = string.Format("Склонение слова <strong>{0}</strong> по падежам", text);
    }
}
<h1>@Html.Raw(h)</h1>
@if (ViewBag.Errors != null)
{
    foreach (string error in ViewBag.Errors)
    {
        <div class="alert alert-danger">
            @Html.Raw(error)
        </div>
    }
}
<fieldset>
    <legend></legend>
    <form action="@Url.Content("~/Decline")" method="get" class="decline-form">
        <input type="text" name="w" class="form-control" value="@text" required="required" placeholder="Введите слово в именительном падеже" />
        <button class="btn btn-primary" type="submit">Склонять</button>
    </form>
</fieldset>
@if (ViewBag.Words != null)
{
    for (int i = 0; i < ViewBag.Words.Count; i++)
    {
        CyrWord cyr = ViewBag.Words[i];
        CyrResult result = ViewBag.Results[i];
        <h2 class="h-word">
            <strong>@cyr.Word</strong>,
            <span class="gender">
                @switch (cyr.Gender)
                {
                    case Cyriller.Model.GendersEnum.Feminine: <em>женский</em>; break;
                    case Cyriller.Model.GendersEnum.Neuter: <em>средний</em>; break;
                    default:  <em>мужской</em>; break;
                }
                род,
            </span>
            <span class="animate">
                <em>@(cyr.IsAnimated ? "одушевленное" : "неодушевленное")</em>@(cyr.WordType != 0 ? "," : string.Empty)
            </span>
            @if (cyr.WordType != 0)
            {
                <span class="type">
                    @switch (cyr.WordType)
                    {
                        case Cyriller.Model.WordTypesEnum.Abbreviation: <em>аббревиатура</em>; break;
                        case Cyriller.Model.WordTypesEnum.Name: <em>имя</em>; break;
                        case Cyriller.Model.WordTypesEnum.Surname: <em>фамилия</em>; break;
                        case Cyriller.Model.WordTypesEnum.Patronymic: <em>отчество</em>; break;
                        case Cyriller.Model.WordTypesEnum.Toponym: <em>топоним</em>; break;
                        case Cyriller.Model.WordTypesEnum.Organization: <em>организация</em>; break;
                        default: <em>без типа</em>; break;
                    }
                </span>
            }
        </h2> 
        <table class="table table-bordered table-cases">
            <thead>
                <tr>
                    <th class="td-case">Падеж</th>
                    <th class="td-value">Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Именительный, <span class="label label-default">Кто? Что? (есть)</span>
                    </td>
                    <td>
                        @result[1]
                    </td>
                </tr>
                <tr>
                    <td>
                        Родительный, <span class="label label-default">Кого? Чего? (нет)</span>
                    </td>
                    <td>
                        @result[2]
                    </td>
                </tr>
                <tr>
                    <td>
                        Дательный, <span class="label label-default">Кому? Чему? (дам)</span>
                    </td>
                    <td>
                        @result[3]
                    </td>
                </tr>
                <tr>
                    <td>
                        Винительный, <span class="label label-default">Кого? Что? (вижу)</span>
                    </td>
                    <td>
                        @result[4]
                    </td>
                </tr>
                <tr>
                    <td>
                        Творительный, <span class="label label-default">Кем? Чем? (горжусь)</span>
                    </td>
                    <td>
                        @result[5]
                    </td>
                </tr>
                <tr>
                    <td>
                        Предложный, <span class="label label-default">О ком? О чем? (думаю)</span>
                    </td>
                    <td>
                        @result[6]
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
else
{
    <p class="p p-examples">
        Введите слово или полное ФИО для склонения по падежам.<br />На пример: 
        <a href="javascript:">компьютер</a>, 
        <a href="javascript:">пиво</a>, 
        <a href="javascript:">кофе</a>, 
        <a href="javascript:">Иванов Иван Иванович</a>, 
        <a href="javascript:">Никитина Инна Николаевна</a>.
    </p>
}
@section scripts
{
<script type="text/javascript">
    $(function () {
        $(".p-examples a").click(function () {
            $(".decline-form input").val($(this).text());
        });
    });
</script>
}