@{
    ViewBag.Title = "Главная";
}

<h1>Кириллер - бесплатная программа склонения по падежам</h1>
<p class="p">
    Кириллер, это полностью открытый проект на c#, который является бесплатной альтернативой <a href="http://morpher.ru/" rel="nofollow" target="_blank">Морферу</a>.
    <br />
    На данные момент программа умеет:
</p>
<ol>
    <li>Склонять личные имена, фамилии, отчества без использования словаря.</li>
    <li>Склонять существительные русского языка, включая имена с использованием словаря.</li>
    <li>Склонять существительные, которых нет в словаре по ближайшему совпадению.</li>
    <li>Распознавать существительные, указанные в любом падеже и числе.</li>
    <li>Склонять прилагательные русского языка с использованием словаря.</li>
    <li>Склонять прилагательные, которых нет в словаре по ближайшему совпадению.</li>
    <li>Распознавать прилагательные, указанные в любом роде, падеже и числе.</li>
    <li>Писать числа прописью во всех падежах.</li>
    <li>Писать деньги прописью, в рублях, долларах, евро, юанях.</li>
    <li>Писать числа прописью вместе с единицей измерения.</li>
    <li>Склонять простые словосочетания, указанные в именительном падеже.</li>
</ol>
<h3>
    В ближайшем будущем планируется:
</h3>
<ol>
    <li>Добавить версию классов <code>CyrNounCollection</code> и <code>CyrAdjectiveCollection</code> с использованием <a href="https://www.sqlite.org/index.html" rel="nofollow" target="_blank">SQLite</a> в качестве хранилища словаря. Должно быть полезно, если объем свободной оперативной памяти ограничен.</li>
    <li>Продолжить работу над настольным приложением <code>Cyriller.Desktop</code>.</li>
    <li>Реализовать REST API для большинства возможностей Кириллера.</li>
    <li>Возможна дальнейшая оптимизация хранения и использования словарей.</li>
    <li>
        Больше свежей информации может быть на GitHub доске - <a href="https://github.com/miyconst/Cyriller/projects/1" rel="nofollow" target="_blank">Cyriller Development</a>.
    </li>
</ol>
<p class="p">
    Я не имею никакой выгоды с данного проекта и занимаюсь им в свободное от работы время. Если у вас есть какие-то пожелания или замечания, то пишите мне, всегда буду рад.
    Если вы хотите ускорить развитие проекта, то вы можете пожертвовать любую сумму на мой PayPal или Яндекс кошелек.
    Если вы программист и хотите помочь в разработке проекта, то свяжитесь со мной любым удобным <a href="@Url.Content("~/Contacts")" rel="nofollow" target="_blank">способом</a>.
</p>
@{
    Html.RenderPartial("_Donate", null);
}
<fieldset>
    <legend>Склонять:</legend>
    <form action="@Url.Content("~/Decline/Noun")" method="get" class="form-horizontal decline-form">
        <label class="col-lg-2 control-label">Существительное:</label>
        <div class="col-lg-8">
            <input type="text" name="w" class="form-control" required="required" placeholder="Введите существительное в именительном падеже" value="компьютер" />
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" type="submit">Склонять</button>
        </div>
    </form>
    <form action="@Url.Content("~/Decline/Adjective")" method="get" class="form-horizontal decline-form">
        <label class="col-lg-2 control-label">Прилагательное:</label>
        <div class="col-lg-8">
            <input type="text" name="w" class="form-control" required="required" placeholder="Введите прилагательное в именительном падеже" value="качественный" />
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" type="submit">Склонять</button>
        </div>
    </form>
    <form action="@Url.Content("~/Decline/Phrase")" method="get" class="form-horizontal decline-form">
        <label class="col-lg-2 control-label">Целую фразу:</label>
        <div class="col-lg-8">
            <input type="text" name="w" class="form-control" required="required" placeholder="Введите фразу в именительном падеже" value="красивая фраза" />
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" type="submit">Склонять</button>
        </div>
    </form>
    <form action="@Url.Content("~/Decline/Number")" method="get" class="form-horizontal decline-form">
        <input type="hidden" name="a" value="Item" />
        <label class="col-lg-2 control-label">Сумма прописью:</label>
        <div class="col-lg-4">
            <input type="number" name="w" class="form-control" required="required" placeholder="Введите число" value="1024" />
        </div>
        <div class="col-lg-4">
            <input type="text" name="i" class="form-control" required="required" placeholder="Введите единицу измерения" value="байт" />
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary" type="submit">Склонять</button>
        </div>
    </form>
</fieldset>
<p class="p">
    Для склонение личных имен и фамилий, в том числе полного ФИО, используется класс CyrName.
    Логика написания чисел прописью находится в классе CyrNumber. Оба класса могут быть использованы как в составе Кириллера, так и отдельно.
</p>
<p>
    Класс CyrName и его JavaScript версию можно скачать с моего сайта, вот тут:<br />
    <a href="https://github.com/miyconst/Cyriller/blob/master/CyrName.js" rel="nofollow" target="_blank">Склонение русских имен и фамилий на JavaScript & C#</a>.
</p>