<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Кириллер</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="body">
        <a id="logo" href="@Url.Content("~/")"></a>
        <nav id="menu">
            <ul>
                <li class="@(ViewBag.Page == "Home.Index" ? "active" : string.Empty)">
                    <a href="@Url.Content("~/")">
                        <i class="fa fa-home"></i>
                        Главная
                    </a>
                </li>
                <li class="@(ViewBag.Page.StartsWith("Decline.") ? "active" : string.Empty)">
                    <a href="@Url.Content("~/Decline/Phrase")">
                        <i class="fa fa-language"></i>
                        Склонять
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="@Url.Content("~/Decline/Noun")">Существительное</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/Decline/Adjective")">Прилагательное</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/Decline/Phrase")">Целую фразу</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/Decline/Number")">Число прописью</a>
                        </li>
                    </ul>
                </li>
                <li class="@(ViewBag.Page == "Home.Download" ? "active" : string.Empty)">
                    <a href="@Url.Content("~/Download")">
                        <i class="fa fa-download"></i>
                        Скачать
                    </a>
                </li>
                <li class="@(ViewBag.Page == "Home.News" ? "active" : string.Empty)">
                    <a href="@Url.Content("~/News")">
                        <i class="fa fa-road"></i>
                        Новости
                    </a>
                </li>
                <li class="@(ViewBag.Page == "Home.Contacts" ? "active" : string.Empty)">
                    <a href="@Url.Content("~/Contacts")">
                        <i class="fa fa-envelope"></i>
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            @RenderBody()
        </section>
        <footer id="footer">
            <div id="counters">
                <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=27824364&amp;from=informer" target="_blank" rel="nofollow">
                    <img src="https://informer.yandex.ru/informer/27824364/1_0_FFFFFFFF_FFFFFFFF_0_pageviews" style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" />
                </a>
                <!-- /Yandex.Metrika informer -->
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                    (function (d, w, c) {
                        (w[c] = w[c] || []).push(function() {
                            try {
                                w.yaCounter27824364 = new Ya.Metrika({
                                    id:27824364,
                                    clickmap:true,
                                    trackLinks:true,
                                    accurateTrackBounce:true
                                });
                            } catch(e) { }
                        });

                        var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = "https://mc.yandex.ru/metrika/watch.js";

                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else { f(); }
                    })(document, window, "yandex_metrika_callbacks");
                </script>
                <noscript><div><img src="https://mc.yandex.ru/watch/27824364" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->
                <script>
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-58253764-1', 'auto');
                    ga('send', 'pageview');
                </script>
            </div>
            <div class="pull-right">
                <a href="http://www.miyconst.com/" target="_blank">Konstantin Mi</a> &copy; 2014 - @DateTime.Now.Year
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="@Url.Content("~/")">Главная</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Decline/Phrase")">Склонять</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Decline/Number")">Число прописью</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Download")">Скачать</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/News")">Новости</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Contacts")">Контакты</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>